*
!.bashrc
!.config/
!.config/mc/
!.config/mc/*
!.config/nitrogen/
!.config/nitrogen/*
!.gitignore
!.i3/
!.i3/*
!.i3/workspaces/
!.i3/workspaces/*
!.i3status.conf
!.mplayer/
!.mplayer/*
!.selected_editor
!.xsessionrc
!.xxkbrc
!bin/
!bin/screenfetch
!soft/
!soft/locker.sh
!soft/idea/
!soft/idea/idea15.sh